{% extends "base.html.twig" %}

{% block body %}
    Dodawanie broni

    <form action="{{ url('guns') }}" method="post">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
    </form>
{% endblock %}
